@font-face {
  font-family: ZCOOL;
  src: url("../assets/ZCOOLKuaiLe-Regular.ttf")
}

body {
  font-family: ZCOOL, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#container {
  font-size: 16px;
  background-color: #FFEDF2;

  max-width: 350px;
  min-width: 160px;
  width: 100%;
  padding: 24px 18px 18px;
  line-height: 1.5em;

  border: 1px solid #D2C3C7;
  border-radius: 5px;
}

#author {
  text-align: right;
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}
